
.row
  .col-xs-6
    h3 Inventory
    form(name='accountTypeForm', novalidate)
      .form-group
        label Enter a room to add a Inventory list
        input.form-control#accountName(type='text', name='accountName', ng-model='accountName')
        button.btn.btn-primary(type='submit', ng-click='addAccount(accountName)') Add Room
        p(ng-repeat='name in names track by $index') {{name}}
  .col-xs-6
    form(name='transactionForm', novalidate)
      .form-group
        h3 Add Items to Inventory
        label Select Room:
        select.form-control#accountType(name='accountType', ng-model='item.type')
          option(ng-repeat='name in names track by $index') {{name}}
      .form-group
        label Item name
        input.form-control(type='text', ng-model='item.item')
      .form-group
        label # of items
        input.form-control(type='number', ng-model='item.amount')
      .form-group
        label Cost
        input.form-control(type='number', ng-model='item.cost')
      .form-group
        label Date Purchased
        input.form-control(type='date', ng-model='item.date')
      .form-group
        button.btn.btn-success(type='submit', ng-click='addTransaction(item.type, item)') Add Item
.row
  .col-xs-3
    button.btn.btn-info(ng-click='isTableRead = !isTableRead') Show Table
    label Select Room List
    select.form-control#accountType(name='accountType', ng-model='item.type')
      option(ng-repeat='name in names track by $index') {{name}}
.row
  .col-xs-12
  table.table.table-striped.table-hover(ng-show='isTableRead', ng-repeat='(key, value) in afUser.accounts')
    thead
      tr
        th Item
        th Room
        th Number of Items
        th Retail Price
        th Purchase Date
        th Edit
        th Delete
    tbody
      tr(ng-repeat='item in afUser.accounts[key]')
        td {{item.item}}
        td {{item.type}}
        td {{item.amount}}
        td {{item.cost | currency}}
        td {{item.date | date: 'MM-dd-yyyy'}}
        td: button.btn.btn-warning.btn-xs(ng-click='editTransaction(item, $index)') Edit
        td: button.btn.btn-danger.btn-xs(ng-click='deleteTransaction(item, $index)') Delete
    td List Total: {{total(afUser.accounts[key]) | currency}}
    
    
    
    
